body {
  background: #fff;
  font-family: 'Adelle';
  position: relative;
  min-height: 100%;

  &.menu-is-open {
    overflow: hidden;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  margin: 0;
}

textarea {
  resize: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.menu-overlay {
  width: 100%;
  background-color: #414656;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  justify-content: center;
  font-size: 31px;
  font-weight: 300;
  display: flex;
  opacity: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    overflow: visible;
    pointer-events: auto;
    overflow-y: scroll;
  }

  @media (max-width: 768px) {
    font-size: 17px;
    text-align: center;
    display: block;
  }

  a:visited {
    color: inherit;
  }
}

.menu-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 135px;
  position: relative;
  @media (max-width: 768px) {
    width: 142px;
    margin: 0 auto;
    top: 150px;
    margin-bottom: 160px;
  }

  &::before {
    content: '';
    display: block;
    width: 192px;
    height: 134px;
    background-image: url('../images/main-logo-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 200px;
    left: -350px;
    @media (max-width: 768px) {
      top: -120px;
      left: 0;
      width: 130px;
      height: 91px;
    }
  }
}

.menu-nav-link {
  margin-bottom: 40px;
  position: relative;
  @media (max-width: 768px) {
    margin-bottom: 35px;
  }

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 73px;
    background-image: url('../images/menu-active-bg.png');
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: -30px;
    z-index: -1;
    background-size: 301px 74px;
    background-position: center center;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &:hover {
    &::before {
      width: 301px;
      transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-delay: 0.4s;
      background-position: 0 center;
    }
  }
}

.menu-logo {
  height: 134px;
  width: 192px;
  position: absolute;
  left: 25%;
  top: 35%;
}

.menu-social {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 680px;
  right: 60px;
  margin-bottom: 48px;

  @media (max-width: 768px) {
    position: static;
    margin: 0 auto 23px auto;
  }

  .social-facebook {
    background-image: url('../icons/icon-facebook-white.svg');
  }

  .social-twitter {
    background-image: url('../icons/icon-twitter-white.svg');
  }

  .social-instagram {
    background-image: url('../icons/icon-instagram-white.svg');
  }

  .social-google {
    background-image: url('../icons/icon-google-white.svg');
  }
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 160px;
  position: relative;
  @media (max-width: 992px) {
    padding: 0 50px;
  }
  @media (max-width: 767px) {
    padding: 0 30px;
  }
}

// Buttons

.cta-btn {
  padding: 18px 40px;
  border: 0;
  border-radius: 5px;
  line-height: 1.5;
  background-color: #FFB91B;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.33px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.cta-btn::before {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 100%;
	margin: -15px 0 0 1px;
	width: 32px;
	height: 30px;
	border-radius: 50%;
	background: #FF7366;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: scale3d(1, 2, 1);
	transform: scale3d(1, 2, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	transition-timing-function: cubic-bezier(0.7,0,0.9,1);
  @media (max-width: 767px) {
    display: none;
  }
}

.cta-btn:hover::before {
	-webkit-transform: scale3d(9, 9, 1);
	transform: scale3d(9, 9, 1);
}

// Header

.main-header {
  padding-top: 29px;
  padding: 29px 160px 0 160px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  @media (max-width: 767px) {
    height: auto;
    padding: 0;
  }
}

.testimony-wrapper {
  margin-top: 242px;
  max-width: 600px;
  @media (max-width: 767px) {
    margin-top: 275px;
  }
}

.interior-header {
  padding-top: 29px;

  @media (max-width: 767px) {
    .main-title {
      width: 84px;
      height: 59px;
      position: absolute;
      top: 0;
      left: 50px;
      margin-top: 0;
    }
  }
}

.main-logo, .secondary-logo {
  background-image: url('../images/main-logo.png');
  background-size: contain;
  display: inline-block;
  height: 108px;
  width: 156px;
  transition: all 300ms ease-in-out;
  position: fixed;

  @media (max-width: 767px) {
    display: none;
  }

  &.is-scrolling {
    position: fixed;
    transform: translate(-75px, -25px);
    height: 79px;
    width: 112px;
    transition: all 300ms ease-in-out;
    background-image: url('../images/main-logo-mobile.png');
    z-index: 1;
    opacity: 1;
  }
  &.is-hidden {
    transition: opacity 300ms ease-in-out;
    opacity: 0;
  }
}

.secondary-logo {
  background-image: url('../images/main-logo-mobile.png');
  @media (max-width: 992px) {
    position: relative;
    left: 40px;
  }
  @media (max-width: 767px) {
    display: block;
    width: 84px;
    height: 58px;
    position: absolute;
    top: 5px;
    left: 62px;
  }
}

.main-title {
  display: inline-block;
  max-width: 131px;
  font-family: 'Lilita One', cursive;
  font-size: 23px;
  text-transform: uppercase;
  color: #414656;
  transition: opacity 300ms ease-in-out;
  margin-left: 172px;
  position: relative;
  top: 25px;
  opacity: 1;

  // &::before {
  //   position: absolute;
  //   top: 0;
  //   left: -200px;
  //   content: '';
  //   display: inline-block;
  //   background-image: url('../images/main-logo.png');
  //   background-size: contain;
  //   height: 108px;
  //   width: 156px;
  // }

  @media (max-width: 767px) {
    color: white;
    height: 98px;
    width: 140px;
    background-image: url('../images/main-logo-mobile.png');
    background-size: contain;
    color: transparent;
    user-select: none;
    margin-top: 46px;
    bottom: 0;
    left: 17px;
    top: 17px;
  }

  &.is-hidden {
    opacity: 0;
  }
}

.hamburguer-btn {
  width: 80px;
  height: 80px;
  background-color: #FFB91B;
  border: 0;
  outline: 0;
  position: fixed;
  top: 48px;
  left: 0;
  background-repeat: no-repeat;
  background-position: 47% center;
  z-index: 2;
  transition: all 300ms ease-in-out;
  padding: 15px 20px;
  cursor: pointer;

  @media (max-width: 767px) {
    height: 45px;
    width: 45px;
    background-size: 45%;
    top: 11px;
    padding: 9px 10px;
  }

  &:hover {
    background-color: #CC3897;
    @media (max-width: 767px) {
      background-color: #FFB91B;
    }
  }

  &.is-scrolling {
    top: 0;
  }

  &.is-active {
    .stripe-top {
      transform: rotate(45deg) translate(9px, 10px);
      @media (max-width: 767px) {
        transform: rotate(45deg) translate(5px, 6px);
      }
    }
    .stripe-middle {
      opacity: 0;
    }
    .stripe-bottom {
      transform: rotate(-45deg) translate(9px, -10px);
      @media (max-width: 767px) {
        transform: rotate(-45deg) translate(5px, -7px);
      }
    }
  }
}

.hamburger-btn-stripe {
  width: 100%;
  height: 3px;
  background: white;
  margin: 10px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
  @media (max-width: 767px) {
    margin: 5px 0;
  }
}

.donate-btn {
  position: fixed;
  top: 48px;
  right: 60px;
  background-color: transparent;
  border: 3px solid #FFFFFF;
  font-size: 16px;
  padding: 10px 40px;
  z-index: 2;
  transition: all 300ms ease-in-out;

  &:hover {
    border-color: #FFB91B;
    color: white;
  }

  @media (max-width: 767px) {
    display: none;
  }

  &.donate-btn-secondary {
    border: 3px solid #FFB91B;
  }

  &.is-scrolling {
    background-color: white;
    border: 3px solid #FFB91B;
    font-size: 13px;
    transition: all 300ms ease-in-out;

    &.menu-is-open {
      background-color: transparent;
      color: white;
    }
  }

  &.cta-btn::before {
    background: #FFB91B;
  }

  &.menu-is-open {
    color: white;
    border: 3px solid #FFB91B;
  }

}

// Footer

.main-footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F6F6F6;
  color: #969CAD;
  font-size: 14px;
  padding-top: 38px;
  height: 113px;
  text-align: center;

  @media (max-width: 1212px) {
    text-align: center;
    height: 100%;
  }

  @media (max-width: 767px) {
    text-align: center;
    padding: 20px 0;
    position: static;
  }

  &.is-fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @media (max-width: 767px) {
      position: static;
    }
  }
}

.footer-copyright {
  display: inline-block;
  margin: 0;

  @media (max-width: 1212px) {
    display: block;
  }

  @media (max-width: 767px) {
    transform: translateY(322px);
  }
}

.footer-attribution {
  display: inline-block;

  @media (max-width: 1212px) {
    display: block;
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    display: block;
  }
}

.footer-navigation {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 149px;
  margin-right: 108px;

  @media (max-width: 1212px) {
    margin: 20px 0;
  }

  @media (max-width: 767px) {
    margin: 0;
  }
}

.footer-nav-links {
  display: inline-block;
  color: #414656;
  font-family: 'Lilita One', cursive;
  overflow: hidden;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 18px;
    display: block;
    margin-bottom: 38px;
  }
}

.footer-nav-links a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.footer-nav-links a span::before {
  color: #FFB91B;
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.footer-nav-links a:hover span,
.footer-nav-links a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.footer-nav-links + .footer-nav-links  {
  margin-left: 67px;

  @media (max-width: 767px) {
    margin-bottom: 46px;
    margin-left: 0;
  }
}

.footer-love-icon {
  display: inline-block;
  width: 21px;
  height: 20px;
  color: transparent;
  background-image: url('../images/love-icon.png');
  background-repeat: no-repeat;
  margin: 0 5px;
  user-select: none;
}

.footer-logo {
  display: inline-block;
  width: 118px;
  height: 30px;
  color: transparent;
  background-image: url('../images/footer-logo.png');
  background-repeat: no-repeat;
  margin: 0 5px;
  position: relative;
  bottom: 2px;
  margin-left: 10px;
  user-select: none;
}

// Carousel

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  top: 200px;
  left: 160px;

  display: inline-block;
  padding: 0;
  margin: 0;

  list-style: none;

  @media (max-width: 767px) {
    text-align: center;
    left: 0;
    top: 251px;
    width: 100%;
  }

}

.slick-dots li {
  position: relative;

  display: inline-block;

  width: 55px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;

  @media (max-width: 767px) {
    width: 75px;
  }

}

.slick-dots li button::before {
  transition: all .3s ease;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  height: 6px;

  content: '';
  text-align: center;

  opacity: .25;
  background-color: #FFB91B;
  color: black;
    @media (max-width: 767px) {
      width: 75px;
    }
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.slick-slide {
  &:focus, a {
    outline: none;
  }
}

// Floatl

.floatl input::placeholder {
  color: #969CAD;
  font-weight: 200;
  font-size: 18px;
}

.floatl {
  position: relative;

}

.floatl--focused .floatl__label {
  color: #2a8dea;
}

.floatl--active .floatl__label {
  opacity: 1;
  visibility: visible;
  top: 7px;
}

.floatl--active .floatl__input {
  padding: 17px 26px 5px 26px;
  color: #414656;
  font-weight: 200;
}

.floatl--active .form-textarea {
  padding: 35px 26px 5px 26px;
  color: #414656;
  font-weight: 200;
}

.floatl--active.floatl--multiline .floatl__label {
  background-color: white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 80%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 80%, rgba(255, 255, 255, 0) 100%);

}

.floatl__label {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: inline-block;
  top: 9px;
  left: 26px;
  padding: 5px 3px 3px 3px;
  font-size: 10px;
  line-height: 1em;
  color: #969CAD;
  font-size: 13px;
  font-weight: 200;
}

.floatl__input {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  margin-top: 0;
  margin-left: 0;
  padding: 11px 26px;
  font-size: 15px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.floatl__input::-moz-selection {
  color: white;
  background-color: #2a8dea;
}

.floatl__input::selection {
  color: white;
  background-color: #2a8dea;
}

.floatl__input:focus {
  border-color: #2a8dea;
}
