.home-container {
  position: relative;
  background-image: url('../images/bg-hero.png');
  background-repeat: no-repeat;
  background-position: top right;
  height: 964px;
  padding: 0 160px;

  @media (max-width: 767px) {
    background-image: url('../images/bg-hero-mobile.png');
    height: 100%;
    padding: 0 30px;
  }
}

.hero-section {
  height: 720px;
}

.testimonial-carousel.slick-initialized {
  visibility: visible;
}

.testimonial-quote {
  margin: 0;
  font-size: 31px;
  line-height: 45px;
  color: #414656;
  @media (max-width: 1216px) {
    font-size: 25px;
  }
  @media (max-width: 993px) {
    font-size: 22px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.testimonial-author {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  @media (max-width: 767px) {
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  span {
    font-style: italic;
  }
}

.hero-link, .interior-link {
  text-transform: uppercase;
  letter-spacing: 1.16px;
  font-family: 'Lilita One', cursive;
  font-size: 14px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.35);

  &.link-share {
    position: fixed;
    z-index: 2;
    left: 34px;
    bottom: 30px;
    background-image: url('../images/bg-brush-share.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 84px;
    height: 40px;
    text-align: center;
    padding-top: 9px;
    font-size: 12px;
    color: white;
    transition: all 300ms ease-in-out;
    @media (max-width: 767px) {
      left: initial;
      bottom: initial;
      right: 10px;
      top: 11px;
    }

    &.is-fixed {
      position: fixed;
      top: initial;
      bottom: 135px;
      z-index: 1;
    }
  }

  &.link-create-photo {
    position: fixed;
    bottom: 75px;
    right: 120px;
    z-index: 2;
    background-image: url('../images/bg-brush-create-photo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 216px;
    height: 56px;
    text-align: center;
    padding-top: 16px;
    color: white;
    transition: all 300ms ease-in-out;
    @media (max-width: 767px) {
      position: static;
      display: inline-block;
    }
    &.is-scrolling {
      right: 34px;
    }
  }

  &.link-tell-story {
    position: fixed;
    z-index: 2;
    right: 23px;
    bottom: 40px;
    background-image: url('../images/bg-brush-tell-story.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 216px;
    height: 56px;
    text-align: center;
    padding-top: 16px;
    color: white;
    transition: all 300ms ease-in-out;
    @media (max-width: 767px) {
      position: static;
      display: inline-block;
      float: right;
    }
    &.is-scrolling {
      right: 34px;
    }
  }
}

// Stories section

.story-cards-section {
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 86px;
  text-align: center;

  .cta-btn {
    display: block;
    margin: 63px auto 0 auto;
    @media (max-width: 767px) {
      margin-top: 15px;
    }
  }

  @media (max-width: 767px) {
    position: static;
    text-align: center;
    padding: 0 30px;
    margin-top: 80px;
  }

}

.story-cards-col {
  display: none;
  margin-right: 19px;
  vertical-align: top;
  width: 24.7%;

  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
  }

  &:nth-child(3) {
    margin-right: 0;
  }

  &.is-active {
    display: inline-block;
  }
}

.story-card {
  position: relative;
  text-align: left;
  height: 100%;
  margin-bottom: 28px;
  padding: 57px 40px;
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.13);
  border-radius: 6px;
  font-size: 22px;
  font-weight: 300;
  line-height: 34px;
  color: 414656;
  background-color: white;
  transition: all .3s ease;
  overflow: hidden;
  @media (max-width: 767px) {
    font-size: 14px;
    padding: 40px 21px;
  }

  &::after {
    content: '';
    display: block;
    height: 49px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-image: url('../images/bg-brush-story-short.png');
    background-repeat: no-repeat;
    transition: all .3s ease;
  }

  &::before {
    content: '';
    display: block;
    width: 23px;
    height: 16px;
    margin-bottom: 18px;
    background-image: url('../images/quote-symbol-story-short.png');
  }

  &:hover {
    padding-top: 40px;
    background-position: center bottom;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);

    &::after {
      bottom: 0;
    }
  }

  &.story-card-long {

    .story-card-avatar {
      border-color: #FFB91B;
    }

    &::after {
      background-image: url('../images/bg-brush-story-long.png');
      height: 46px;
    }

    &::before {
      background-image: url('../images/quote-symbol-story-long.png');
    }
  }
}

.story-card-quote {
  margin: 0;
}

.story-card-author {
  margin-top: 56px;
  font-size: 16px;

  @media (max-width: 767px) {
    margin-top: 20px;
  }

}

.story-card-cite {
  font-style: italic;
  color: #414656;

  span {
    font-weight: bold;
  }
}

.story-card-avatar {
  display: block;
  margin-bottom: 10px;
  border: 2px solid #FF7366;
  border-radius: 100px;

  @media (max-width: 767px) {
    height: 29px;
    width: 29px;
  }

}

// Create a photo section


.create-photo-section {
  display: flex;
  margin: 60px auto 0 auto;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.create-photo-info {
  width: 50%;
  height: 100vh;
  background-color: #414656;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 767px) {
    width: 100%;
    padding: 37px 30px;
    height: 100%;
  }

  span {
    color: #FFB91B;
  }
  .cta-btn {
    color: black;
  }
}

.create-photo-lead {
  font-size: 25px;
  line-height: 42px;
  max-width: 425px;
  margin: 0 auto 48px auto;

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 32px;
  }
}


.create-photo-title {
  margin-top: 0;
  font-family: 'Lilita One', cursive;
  font-size: 45px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 32px;
  }
}

.create-photo-cover {
  background-image: url('../images/bg-create-photo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;

  @media (max-width: 767px) {
    width: 100%;
    height: 262px;
  }

}

// Social section

.social-section {
  height: 450px;
  text-align: center;

  @media (max-width: 767px) {
    height: 240px;
  }

  a {
    height: 25px;
    width: 25px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social-title {
  font-size: 48px;
  font-weight: normal;
  color: #525969;
  padding-top: 126px;
  margin-top: 0;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    font-size: 28px;
    padding-top: 45px;
  }

  span {
    color: #CC3897;

    &:nth-child(2) {
      color: #FF8A78;
    }
    &:nth-child(3) {
      color: #FFC421;
    }
  }
}

.social-list {
  display: inline-block;
  width: 317px;
  height: 80px;
  padding: 0;
  margin: 0;
  list-style: none;
  background-image: url('../images/bg-brush-social.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.social-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-top: 32px;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-indent: -9999px;
  transition: transform 200ms ease-in-out;

  &:last-child {
    margin-right: 0;
  }
  &:hover {
    transform: translateY(-4px);
  }
}

.social-facebook {
  background-image: url('../icons/icon-facebook.svg');
}

.social-twitter {
  background-image: url('../icons/icon-twitter.svg');
}

.social-instagram {
  background-image: url('../icons/icon-instagram.svg');
}

.social-google {
  background-image: url('../icons/icon-google.svg');
}
