// Shared Styles

.interior-page-title {
  font-family: 'Lilita One', cursive;
  color: #CC3897;
  font-size: 45px;
  margin-top: 0;
  text-transform: uppercase;
  line-height: 45px;
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.interior-right-links-wrapper {
  position: relative;
}

.interior-brush-links {
  margin: 60px 0 30px 0;
  color: white;
  @media (max-width: 767px) {
    text-align: center;
    margin: 35px 0;
  }
  .interior-link-share {
    float: left;
    margin-left: 50px;
    background-image: url('../images/bg-brush-share.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 84px;
    height: 40px;
    text-align: center;
    padding-top: 9px;
    font-size: 12px;
    @media (max-width: 767px) {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }
  .interior-link-tell-story {
    float: right;
    margin-right: 50px;
    background-image: url('../images/bg-brush-tell-story.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 216px;
    height: 56px;
    text-align: center;
    padding-top: 16px;
    color: white;
    @media (max-width: 767px) {
      float: none;
      display: inline-block;
      margin-right: 0;
    }
  }
  .interior-link-create-photo {
    background-image: url('../images/bg-brush-create-photo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 216px;
    height: 56px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    bottom: -15px;
    right: 50px;
    @media (max-width: 767px) {
      position: static;
      display: inline-block;
    }
  }
}
// Stories

.stories-container {
  padding: 0 160px;
  @media (max-width: 992px) {
    padding: 0 80px;
  }
  @media (max-width: 767px) {
    padding: 0 30px;
  }
}

.stories-page {
  display: flex;
  position: relative;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
  }
  .interior-page-title {
    white-space: nowrap;
  }
}

.nav-story-arrow {
  position: absolute;
  width: 43px;
  height: 23px;
  outline: 0;
  border: 0;
  top: 257px;
  background-color: transparent;
  z-index: 1;
  transition: transform 300ms ease-in-out;
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width: 767px) {
    width: 30px;
  }
}

.prev-story-arrow {
  left: -120px;
  background-image: url('../images/stories-arrow-left.svg');

  &:hover {
    transform: translateX(-10px);
  }
  @media (max-width: 992px) {
    top: 350px;
    left: -62px;
  }
  @media (max-width: 767px) {
    top: 257px;
    left: -20px;
  }
}

.next-story-arrow {
  right: -120px;
  background-image: url('../images/stories-arrow-right.svg');

  &:hover {
    transform: translateX(10px);
  }

  @media (max-width: 992px) {
    top: 350px;
    right: -62px;
  }
  @media (max-width: 767px) {
    top: 257px;
    right: -20px;
  }
}

.stories-page, .stories-featured {
  font-size: 16px;
  line-height: 34px;
  color: #414656;
}

.stories-content {
  width: 50%;
  margin-top: 123px;
  padding-right: 50px;
  @media (max-width: 992px) {
    margin-top: 80px;
  }
  @media (max-width: 767px) {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }
  p {
    max-width: 500px;
    @media (max-width: 767px) {
      max-width: initial;
    }
    &:first-of-type {
      @media (max-width: 767px) {
        margin-top: 0;
      }
    }
  }
  .interior-page-title {
    margin-bottom: 18px;
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.story-author {
  @media (max-width: 767px) {
    text-align: center;
    margin-top: -70px;
    position: relative;
    bottom: 250px;
  }
}

.author-country {
  color: #969CAD;
  margin: 0;
  font-size: 26px;
  font-style: italic;
  margin-bottom: 27px;
  @media (max-width: 767px) {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.story-portrait {
  position: relative;
  width: 50%;
  perspective: 4000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 512px;
  max-height: 512px;
  @media (max-width: 992px) {
    background-image: url('../images/story-background.png');
  }
  @media (max-width: 767px) {
    width: 100%;
    min-height: 235px;
    background-position: center;
    margin-top: 160px;
  }
}

.story-avatar {
  border: 3px solid #FFB91B;
  height: 350px;
  width: 350px;
  display: block;
  height: auto;
  width: 100%;
  max-width: 350px;
  position: absolute;
  left: 100px;
  top: 60px;
  @media (max-width: 992px) {
    position: static;
    max-width: 200px;
  }
  @media (max-width: 767px) {
    max-width: 171px;
  }
}

#scene {
  @media (max-width: 992px) {
    display: none;
  }
}
.stories-featured {
  margin-top: 50px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }

  p {
    max-width: 594px;
    &:first-of-type {
      margin-top: 70px;
      @media (max-width: 767px) {
        margin-top: 40px;
      }
    }
    &:last-of-type {
      margin-bottom: 100px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }
  }
}

.stories-featured-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.stories-featured-img-wrapper {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 1371px;
    height: 159px;
    background-image: url('../images/featured-img-texture.png');
    position: absolute;
    top: -84px;
    left: -114px;
  }

  &::after {
    content: '';
    display: block;
    width: 1371px;
    height: 159px;
    background-image: url('../images/featured-img-texture.png');
    position: absolute;
    bottom: -101px;
    left: -37px;
  }
}

.stories-quote {
  font-size: 21px;
  max-width: 594px;
  position: relative;
  padding-left: 50px;
  padding-top: 13px;
  line-height: 35px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 64px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: inline-block;
    height: 122px;
    width: 33px;
    background-image: url('../images/quote-brush.png');
  }
}

.stories-cta {
  display: flex;
  color: white;
  line-height: 30px;
  margin-top: 140px;
  @media (max-width: 767px) {
    flex-direction: column;
    margin-top: 50px;
  }

  .cta-btn {
    color: black;
    position: absolute;
    bottom: 50px;
    @media (max-width: 767px) {
      position: static;
    }
  }
}

.stories-cta-donations {
  margin-bottom: 200px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.tell-story-cta {
  position: relative;
  background-color: #912D93;
  padding: 46px 39px;
  width: 50%;
  height: 396px;
  background-image: url('../images/bg-tell-story-cta.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  @media (min-width: 1440px) {
    padding-left: 20%;
  }
  @media (max-width: 767px) {
    height: 650px;
    width: 100%;
    background-position: bottom right;
  }

  p {
    max-width: 298px;
  }
}


.stories-cta-title {
  font-size: 37px;
  text-transform: uppercase;
  font-family: 'Lilita One', cursive;
  max-width: 300px;
  line-height: 42px;
  margin-top: 0;

  span {
    color: #FFB91B;
  }
}

.create-photo-cta {
  position: relative;
  width: 50%;
  height: 396px;
  background-color: #414656;
  display: flex;
  @media (max-width: 767px) {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.photo-cta-content {
  width: 50%;
  padding: 46px 39px;
  @media (max-width: 1290px) {
    width: 80%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.create-photo-pictures {
  width: 50%;
  background-image: url('../images/bg-create-photo.png');
  background-size: 200%;
  @media (max-width: 1290px) {
    background-size: cover;
    width: 20%;
  }
  @media (max-width: 767px) {
    width: 100%;
    height: 262px;
  }
}

// Tell Your Story

.tell-story-page {
  display: flex;
  margin-top: 69px;
  min-height: 500px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.tell-story-content {
  width: 50%;
  font-size: 22px;
  line-height: 34px;
  color: #414656;
  padding-right: 50px;
    @media (max-width: 767px) {
      width: 100%;
      max-width: initial;
      padding: 0;
      font-size: 14px;
      line-height: 28px;
    }

    p {
      max-width: 450px;
      @media (max-width: 767px) {
        max-width: initial;
      }
    }
    span {
      color: #D854A8;
      text-transform: uppercase;
    }
  }

.tell-story-form {
  width: 544px;
  @media (max-width: 1200px) {
    width: 426px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }

  .cta-btn {
    display: block;
    margin: 0 auto;
  }
}

.form-container {
  display: flex;
  justify-content: space-between;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.floatl__input {
  height: 65px;
  background: #FCFCFC;
  border: 2px solid #969CAD;
  border-radius: 6px;
  font-size: 18px;
  color: #969CAD;
  letter-spacing: 0px;

  &:focus {
    border-color: #FFB91B;
  }
}

.input-small {
  width: 258px;
  margin-bottom: 35px;
  @media (max-width: 1200px) {
    width: 100%;
  }
}

.input-long {
  width: 100%;
  margin-bottom: 35px;
}

.textarea-container {
  position: relative;
}

.character-limit {
  position: absolute;
  font-style: italic;
  top: 20px;
  right: 34px;
  font-size: 12px;
  color: #C8CCD9;
  @media (max-width: 767px) {
    top: initial;
    bottom: 60px;
  }
}

.form-textarea {
  width: 100%;
  height: 245px;
  margin-bottom: 35px;
}

.floatl--focused .floatl__label {
  color: #969CAD;
}

.form-info {
  font-size: 13px;
  color: #969CAD;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 100px;

  a {
    text-decoration: underline;
  }
}

.drag-and-drop-box {
  position: relative;
  width: 100%;
  min-height: 65px;
  border: 1px dashed #969CAD;
  margin-bottom: 50px;
  cursor: pointer;
  padding-right: 50px;

  @media (max-width: 767px) {
    min-height: 121px;
    padding: 0;
  }

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  p {
    font-size: 15px;
    color: #969CAD;
    letter-spacing: 0px;
    margin-left: 26px;
    margin-top: 22px;
    @media (max-width: 767px) {
      margin-top: 74px;
      margin: 0;
      text-align: center;
    }
  }

  span {
    text-decoration: underline;
  }

  &::before{
    content: '';
    display: block;
    width: 31px;
    height: 25px;
    background-image: url('../images/drag-and-drop-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 19px;
    margin-right: 21px;
    @media (max-width: 767px) {
      position: static;
      height: 34px;
      width: 42px;
      margin: 24px auto 16px auto;
    }
  }
}

// Tell Your Story - Confirmation

.tell-story-confirmation {
  width: 50%;
  max-width: 350px;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
    min-height: auto;
  }

  .cta-btn {
    display: block;
    margin: 0 auto;
  }
}

.tell-story-avatar {
  display: block;
  height: auto;
  width: 100%;
}

.facebook-btn {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  background-color: #578FD1;
  color: white;
  font-family: 'Lilita One', cursive;
  letter-spacing: 1.16px;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  margin-top: 27px;
  margin-bottom: 32px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    display: inline-block;
    background-image: url('../icons/icon-facebook-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 8px;
    height: 18px;
    margin-right: 34px;
    position: relative;
    top: 5px;
  }
}

.facebook-btn::after {
	content: '';
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 100%;
	margin: -15px 0 0 1px;
	width: 50px;
	height: 30px;
	border-radius: 50%;
	background: #4A7EBB;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: scale3d(1, 2, 1);
	transform: scale3d(1, 2, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
	transition-timing-function: cubic-bezier(0.7,0,0.9,1);
  @media (max-width: 767px) {
    display: none;
  }
}

.facebook-btn:hover::after {
	-webkit-transform: scale3d(9, 9, 1);
	transform: scale3d(9, 9, 1);
}

.share-link {
  font-family: 'Lilita One', cursive;
  font-size: 12px;
  letter-spacing: 1px;
  border-bottom: 3px solid black;
  padding-bottom: 9px;
  text-transform: uppercase;
}

.facebook-share {
  color: #578FD1;
  border-color: #578FD1;
  &::before {
    content: '';
    display: inline-block;
    height: 14px;
    width: 7px;
    background-image: url('../icons/icon-share-facebook.svg');
    margin-right: 12px;
  }
}

.twitter-share {
  color: #60C0F6;
  border-color: #60C0F6;
  margin-left: 26px;
  &::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 14px;
    background-image: url('../icons/icon-share-twitter.svg');
    margin-right: 12px;
  }
}

.download-share {
  color: #969CAD;
  border-color: #969CAD;
  position: relative;
  float: right;
  &::before {
    content: '';
    display: inline-block;
    height: 26px;
    width: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../icons/icon-share-downloads.svg');
    margin-right: 12px;
    position: absolute;
    top: 0;
    left: -26px;
  }
  @media (max-width: 767px) {
    float: none;
    display: block;
    width: 124px;
    margin: 47px auto;
    position: relative;
    left: 5px;
  }
}

// Create your photo

.create-photo-page {
  display: flex;
  margin-top: 68px;
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.create-photo-content {
  width: 50%;
  color: #414656;
  line-height: 28px;
  padding-right: 50px;
  @media (max-width: 767px) {
    width: 100%;
  }
  .step-1 {
    color: #CC3897;
  }
  .step-2 {
    color: #FF8A78;
  }
  .step-3 {
    color: #FFC421;
  }
}

.create-photo-upload {
  width: 50%;
  @media (max-width: 767px) {
    width: 100%;
  }
  .drag-and-drop-box {
    margin: 0 auto 38px auto;
    width: 350px;
    height: 350px;
    padding: 0;
    text-align: center;
    @media (max-width: 767px) {
      width: 100%;
    }
    &::before {
      position: static;
      text-align: center;
      margin: 0 auto;
      width: 89px;
      height: 72px;
      margin-top: 122px;
    }
    p {
      margin: 85px 0 0 0;
    }
  }
  .cta-btn {
    margin: 0 auto;
    display: block;
    @media (max-width: 767px) {
      margin-bottom: 45px;
    }
  }
}

// Donate

.donate-page {
  display: flex;
  margin-top: 68px;
  @media (max-width: 767px) {
    font-size: 14px;
    flex-direction: column;
  }
}

.donate-page-confirmation {
  display: block;
  text-align: center;
  color: #414656;
  font-size: 22px;
  line-height: 34px;
  @media (max-width: 767px) {
    font-size: 14px;
    text-align: left;
    line-height: 28px;
  }

  p {
    max-width: 461px;
    margin: 0 auto;
    @media (max-width: 767px) {
      margin: 0;
    }
  }
}

.donate-content {
  width: 50%;
  padding-right: 50px;
  p {
    max-width: 461px;
    line-height: 34px;
    font-size: 22px;
    color: #414656;
    @media (max-width: 767px) {
      max-width: initial;
      font-size: 14px;
    }
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.donate-form {
  width: 544px;
  @media (max-width: 1200px) {
    width: 426px;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  .cta-btn {
    width: 100%;
    &::before {
      width: 80px;
    }
  }
}

.pay-alternative {
  text-align: center;
  color: #969CAD;
  margin: 38px 0;
  &::before, &::after {
    content: '';
    display: inline-block;
    width: 62px;
    height: 1px;
    background-color: #DBDBDB;
    vertical-align: middle;
  }
  &::before {
    margin-right: 8px;
  }
  &::after {
    margin-left: 8px;
  }
}

.paypal-btn {
  background-color: white;
  color: #009EE3;
  width: 100%;
  padding: 18px 40px;
  border: 0;
  border: 3px solid #DBDBDB;
  border-radius: 5px;
  line-height: 1.5;
  outline: none;
  &::after {
    content: '';
    width: 92px;
    height: 23px;
    display: inline-block;
    margin-left: 29px;
    background-image: url('../images/paypal-logo.svg');
    vertical-align: middle;
    position: relative;
    bottom: 2px;
  }
}

.donations-buttons {
  margin-bottom: 35px;
  display: flex;
  @media (max-width: 1200px) {
    display: block;
    text-align: center;
  }
}

.amount-btn-wrapper {
  display: flex;
  width: 100%;
  @media (max-width: 1200px) {
    margin-bottom: 19px;
  }
}

.amount-btn {
  width: 81px;
  height: 65px;
  border: 2px solid #CC3897;
  border-radius: 6px;
  color: #CC3897;
  font-size: 18px;
  background-color: transparent;
  text-transform: uppercase;
  margin-right: 20px;
  transition: all 300ms ease-in-out;

  &:hover, &.is-active {
    background-color: #CC3897;
    color: white;
  }
  @media (max-width: 767px) {
    width: 75px;
    margin-right: 13px;
    &:last-child {
      margin: 0;
    }
  }
}

.amount-btn-large {
  flex-grow: 1;
  margin: 0;
  @media (max-width: 767px) {
    width: 168px;
    flex-grow: initial;
  }
}

.share-actions {
  @media (max-width: 767px) {
    text-align: center;
    margin-bottom: 70px;
  }
}

.share-donation-btn {
  height: 56px;
  width: 131px;
  outline: 0;
  border: 0;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lilita One', cursive;
  letter-spacing: 1.16px;
  margin-top: 42px;
}

.share-donation-facebook {
  background-color: #578FD1;
  margin-right: -4px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &::before {
    content: '';
    display: inline-block;
    width: 9px;
    height: 18px;
    background-image: url('../icons/icon-facebook-white.svg');
    margin-right: 15px;
    vertical-align: middle;
    position: relative;
    bottom: 3px;
  }
}

.share-donation-twitter {
  background-color: #60C0F6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -4px;
  &::before {
    content: '';
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
    width: 19px;
    height: 18px;
    background-image: url('../icons/icon-twitter-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
